@import url("https://fonts.cdnfonts.com/css/baloo");
@font-face {
  font-family: "MontRegular";
  src: local("MontRegular"), url("../fonts/MontRegular.eot"), url("../fonts/MontRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MontRegular.woff") format("woff"), url("../fonts/MontRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #FFC567;
  background: linear-gradient(#fff, transparent 2px), linear-gradient(90deg, #fff, transparent 2px), #FFC567;
  background-size: 73px 73px;
  background-position: center 0px;
}

body {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
  background: url(/src/img/img_games/ring_purple.svg), url(/src/img/img_games/square_red.svg), url(/src/img/img_games/circle_green.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top -56px left -76px, top 1042px right -58px, top 1115px left -422px;
}

.header_reg {
  margin-left: 60px;
  margin-right: 80px;
  margin-bottom: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar_reg {
  cursor: pointer;
}

.star1 {
  position: absolute;
  top: 106px;
  left: -23px;
}

.star2 {
  position: absolute;
  top: -22px;
  left: 862px;
}

.arrow {
  position: absolute;
  top: 121px;
  left: 947px;
}

.info_reg {
  position: relative;
  width: 905px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FC7DA8;
  padding: 24px 74px 24px 37px;
}
.info_reg p {
  color: #000;
  font-family: "MontRegular";
  font-size: 24px;
  font-weight: 600;
}

.header_login {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: -28px 111px 12px 111px;
}
.header_login h1 {
  color: #FFF;
  -webkit-text-stroke: 1px #000;
  text-align: center;
  text-shadow: 11px 0px 0px #000;
  font-family: "Baloo";
  font-size: 128px;
  font-weight: 400;
}

.info_login {
  position: relative;
}
.info_login div {
  height: 71px;
  text-align: end;
  padding: 0px 90px 0px 35px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFF;
  color: #000;
  font-family: "MontRegular";
  font-size: 36px;
  font-weight: 600;
  line-height: 71px;
}
.info_login .avatar_login {
  position: absolute;
  width: 104px;
  height: 104px;
  top: -17px;
  right: -34px;
  cursor: pointer;
}

.none div {
  background: transparent;
  color: transparent;
  border: none;
}

.games {
  margin: 0px 111px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 51px;
       column-gap: 51px;
  row-gap: 82px;
  justify-items: center;
}
.games div {
  border-radius: 15px;
  border: 1px solid #000;
  width: 372px;
  text-align: center;
  font-family: "MontRegular";
}

.game {
  padding-top: 10px;
  background: #FFF;
}
.game p {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  margin: 8px;
}
.game div {
  width: 372px;
  margin-left: -1px;
  height: 300px;
  border-radius: 0px;
  margin-bottom: 20px;
}
.game button {
  width: 184px;
  border-radius: 12px;
  border: 1px solid #000;
  margin-bottom: 25px;
  color: #FFF;
  font-family: "MontRegular";
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
}

.game_1 div {
  background: #048CD6;
}
.game_1 div img {
  margin-top: 37px;
}
.game_1 button {
  background: #009A5E;
}
.game_1 button:hover {
  background: #008854;
}

.game_2 div {
  background: #009A5E;
}
.game_2 div img {
  margin-top: 23px;
}
.game_2 button {
  background: #FD5A47;
}
.game_2 button:hover {
  background: #ed5443;
}

.game_3 {
  position: relative;
}
.game_3 div {
  background: #FC7DA8;
}
.game_3 div img {
  margin-top: 23px;
}
.game_3 button {
  background: #048CD6;
}
.game_3 button:hover {
  background: #0481c4;
}

.in_developing {
  position: absolute;
  top: 73px;
  left: -14px;
}

.game_4 {
  position: relative;
}
.game_4 div {
  background: #552CB8;
}
.game_4 div img {
  margin-top: 6px;
}
.game_4 button {
  background: #FC7DA8;
}
.game_4 button:hover {
  background: #ff71a0;
}

.game_5 {
  position: relative;
}
.game_5 div {
  background: #048CD6;
}
.game_5 div img {
  margin-top: 23px;
}
.game_5 button {
  background: #FFC567;
}
.game_5 button:hover {
  background: #ffbe55;
}

.loading {
  position: relative;
  background: #552CB8;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-around;
}
.loading p {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
}

.star3 {
  position: absolute;
  bottom: -27px;
  left: -18px;
}/*# sourceMappingURL=games.css.map */