@import url(../fonts/MontRegular.ttf);
@import url('https://fonts.cdnfonts.com/css/baloo');

$plain-text: 'Mont';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FFC567;
    background: linear-gradient(#fff, transparent 2px), linear-gradient(90deg, #fff, transparent 2px), #FFC567;
    background-size: 73px 73px;
    background-position: center 0px;
}

body {
    position: relative;
    padding-top: 24px;
    padding-bottom: 66px;
    background: url(/src/img/img_login/star_small.svg), url(/src/img/img_login/star_average.svg), 
    url(/src/img/img_login/star_big.svg), url(/src/img/img_login/square_pink.svg), url(/src/img/img_login/ring_purple.svg), 
    url(/src/img/img_login/circle_blue.svg), url(/src/img/img_login/square_red.svg), url(/src/img/img_login/circle_green.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 74px left 111px, top 335px right 260px, top 850px left 236px, top 287px left 54px, 
    top 52px left -130px, top 330px right 300px, top 695px right 42px, top 870px left -320px;
}

header {
    text-align: center;
    & h1 {
        color: #FFF;
        -webkit-text-stroke: 1px #000;
        text-shadow: 12px 0px 0px #000;
        font-family: 'Baloo';
        font-size: 150px;
        font-weight: 400;
    }
}

main {
    & h1 {
        margin-top: 18px;
        text-align: center;
        color: #000;
        font-family: $plain-text;
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    & form {
        margin: auto;
        margin-bottom: 45px;
        width: 667px;
        background-color: #FC7DA8;
        border-radius: 15px;
        border: 1px solid #000;
        box-shadow: 10px 10px 0px 0px #000;
        padding: 33px 51px 43px 51px;
        & p {
            color: #000;
            font-family: $plain-text;
            font-size: 32px;
            font-weight: 600;
            margin-left: 25px;
            margin-bottom: 7px;
        }
        & input {
            all: initial;
            box-sizing: border-box;
            width: 565px;
            border-radius: 15px;
            border: 1px solid #000;
            background: #FFF;
            margin-bottom: 20px;
            color: #000;
            font-family: $plain-text;
            font-size: 24px;
            font-weight: 600;
            padding: 8px 25px;
        }
        & button {
            display: block;
            margin: auto;
            margin-top: 25px;
            width: 330px;
            color: #FFF;
            text-align: center;
            font-family: $plain-text;
            font-size: 32px;
            font-weight: 600;
            border-radius: 15px;
            border: 1px solid #000;
            background: #552CB8;
            padding: 11px 0px;
            cursor: pointer;
        }
        & button:hover {
            background: #4b26a0;
        }
    }
    & h2 {
        color: #000;
        text-align: center;
        font-family: $plain-text;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    & button {
        display: block;
        margin: auto;
        width: 400px;
        color: #FFF;
        text-align: center;
        font-family: $plain-text;
        font-size: 32px;
        font-weight: 600;
        border-radius: 15px;
        border: 1px solid #000;
        background: #048CD6;
        padding: 14px 0px;
        cursor: pointer;
    }
    & button:hover {
        background: #047fc2;
    }
}